*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
button.search-btn{
    padding: 4px 1rem !important;
    font-size: 1rem !important;
    border-radius: var(--bs-border-radius);
}
input.search-bar{
    box-shadow: none;
}
input.search-bar:focus{
    box-shadow: none;
}
div.footer-wrapper{
    background: var(--bs-tertiary-bg);
}
img.hero-image{
    transform: rotate(4deg);
}
.toggle{
    width: 4rem;
    height: 4rem;
    position: fixed;
    bottom: 6px;
    right: 6px;
    cursor: pointer;
}
.toggle svg{
    color: white;
    width: 3rem;
    height: 3rem;
}
.header-searchBar::placeholder{
    color: gray;
}